# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Environment
.env

# VS Code
.vscode/

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db